body {
  background-color: white;
  color: #652cdf;
}

a {
  color: white;
  text-decoration: none;
}

.form-control {
  background-color: whitesmoke;
  color: black;
}

.input-group-text, .input-group-text:focus {
  background-color: #652cdf;
  color: white;
}

.cursor {
  cursor: pointer;
}
img{
  margin-top: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}